.DS_Store
DerivedData/
build/
Build/
Pods/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.ipa
Payload/
*.mobileprovision
*.p12
*.cer
*.certSigningRequest
.idea/
.vscode/
site/
latest.json
altstore.json
Vendor/
*.moved-aside
*.hmap
*.ipa.dSYM.zip
dSYMs/
export/
